{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions",
          "node": "current"
        },
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-runtime",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
