:root {
  /* Colors */
  --pink: #ed616e;
  --text: #808fa3;
  --text-dark: #585d63;
  --blue: #3897f0;
  --light-blue: #6589b8;
  --white: #ffffff;
  --main: #f3f1f1;

  /* Font Size */
  --font-small: 0.8em;
  --font-medium: 1em;
  --font-big: 1.2em;
  --font-extra-big: 1.5em;

  /* spaces */
  --small: 0.5em;
  --medium: 1em;
  --big: 1.5em;
  --container: 4em;

  /* Width, Height */
  --header-height: 4em;

  /* z-index */
  --header-z: 1000;
}
