.UserInfo {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.UserInfo-username {
  font-weight: bold;
  font-size: var(--font-extra-big);
  display: block;
  margin: .5em 0;
}

.UserInfo-fullname {
  font-size: var(--font-big);
  text-transform: uppercase;
  color: var(--text-dark);
}

.UserInfo-list {
  display: flex;
  justify-content: space-between;
}

.UserInfo-item {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.UserInfo-label {
  font-size: var(--font-big);
  font-weight: bold;
}
