.PhotoDescription {
  padding: var(--medium);
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PhotoDescription-comments {
  max-height: 300px;
  overflow-y: scroll;
  margin: var(--medium) 0;
}

.PhotoDescription-header {
  display: flex;
  align-items: center;
}

.PhotoDescription-fullname {
  display: block;
  font-weight: bold;
  font-size: var(--font-big);
}

.PhotoDescription-time {
  color: var(--text);
  font-size: var(--font-small);
}
